<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Website Kami{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Navbar -->
    <nav>
        <ul>
            <li><a href="{{ url_for('homepage') }}">Home</a></li>
            <li><a href="{{ url_for('daftar_pengakses') }}">Daftar Pengakses</a></li>
            <li><a href="{{ url_for('daftar_berita') }}">Daftar Berita</a></li>
            <li><a href="{{ url_for('keterbukaan_informasi') }}">Daftar Keterbukaan Informasi</a></li>
            {% if username %}
                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
            {% endif %}
            
        </ul>
    </nav>

    <!-- Konten Halaman -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Website Kami</p>
    </footer>
</body>
</html>
