{% extends 'base.html' %}

{% block title %}Daftar Berita{% endblock %}

{% block content %}
<header>
    <h1>Daftar Berita Terbaru</h1>
</header>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th> <!-- Kolom Nomor Urut -->
            <th>Kode Emiten</th>
            <th>Tanggal</th>
        </tr>
    </thead>
    <tbody>
        {% for berita in beritas %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ berita.kode_emiten }}</td>
                <td>{{ berita.tanggal }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
